.about-container{
    background-color: rgba(193, 218, 181, 0.212);
}
.related2 {
    text-decoration: none !important;
}
.about-css{
    padding: 150px 0;
    box-sizing: border-box;
    margin-right: 12px;
    border-right: 3px solid rgb(35, 15, 214);
}